.container__menu-title{
    color: white;
}

.container__menu-title > h1 {
    display: flex;
    justify-content: center;
    margin: 15px 0 15px;
    font-size: 120px;
    font-weight: bolder;
    font-family: 'segoe UI';
}

.container__menu-title > hr {
    margin: 20px 0 5px;
}