
<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card [id]="1" [photoCover]="photoCoverBig" [cardTitle]="cardtitleBig" [cardDescription]="carddescription"></app-big-card>
    </div>

    <div class="articles__others">
        <ng-container *ngFor="let data of smallCardsData; index as i">
            <app-small-card [id]="i+1" [photoCover]="data.photoCover" [cardTitle]="data.cardTitle"></app-small-card>
        </ng-container>
    </div>
</div>